.ntg-document-pdf-table {
    --row-padding: 1rem;

    h2 {
        margin-bottom: var(--row-padding);
    }

    &__row {
        border-bottom: 1px solid #CACACA;
        padding: var(--row-padding) 0;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        position: relative;

        &:first-of-type {
            border-top: 1px solid #CACACA;
        }

        @include media-breakpoint-down(sm) {
            flex-flow: column;
        }
    }

    &__link {
        color: $secondary;
        margin-left: 1rem;
        display: inline-block;
        transition: 0.2s color ease-in-out;
        @extend .stretched-link;

        &:hover {
            color: $primary;
        }
    }
}