:root {
    --input-max-width: 750px;
}

.max-width-input {
    max-width: var(--input-max-width);
}

.form-like-dislike {
    display: flex;
    gap: 0.5rem;

    &__wrapper {
        display: flex;
        gap: 1rem;
        align-items: center;

        > p {
            margin-bottom: 0;
        }
    }

    &__label {
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; 

        input:checked ~ .form-like-dislike__icon {
            background-color: $ntg-teal-blue;
            color: $white;
        }
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        background-color: $white;
        color: $ntg-teal-blue;
        border-radius: 50%;
        border: 2px solid $ntg-teal-blue;
        cursor: pointer;
        transition: 0.2s background ease-in-out;

        &:hover {   
            background-color: $ntg-teal-blue;
            color: $white;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0 !important;
        width: 0 !important;
    }
}

#content form {
    .g-recaptcha {
        margin-bottom: 1.5rem;
    }

    select {
        @extend .form-select;
        max-width: var(--input-max-width);
        width: 100%;

        &:focus {
            @include focus();
        }
    }

    select[multiple='multiple'] {
        background-image: none;
        height: inherit;
    }

    input[type='email'],
    input[type='text'],
    input[type='number'],
    input[type='tel'],
    input[type='search'],
    textarea {
        @extend .form-control;
        max-width: var(--input-max-width);
        width: 100%;

        &:focus {
            @include focus();
        }
    }

    .sq-form-unattached {
        margin-bottom: 1.5rem;
    }

    .sq-form-upload-add-btn-wrapper input[type='button'],
    .sq-form-upload input[type='button'] {
        @extend .form-control;
        width: 38px;

        &:focus {
            @include focus();
        }
    }

    .sq-form-upload-add-btn-wrapper input[type='button'] {
        margin-top: 0.5rem;
    }

    .sq-form-upload input[type='button'] {
        margin-left: 0.5rem;
    }

    .sq-form-upload {
        display: flex;
        align-items: center;

        input[type='file'] {
            &:focus {
                @include focus();
            }
        }
    }

    textarea {
        max-width: var(--input-max-width);
    }

    input[type='submit'] {
        @extend .btn;
        @extend .btn-primary;
    }

    input[type='reset'] {
        @extend .btn;
        @extend .btn-secondary;
    }

    .sq-form-section {
        ~ .sq-form-section {
            margin-top: 1.5rem;
        }
    }

    .sq-form-question {
        &-title {
            @extend .form-label;
        }

        &-title + .sq-form-question-note {
            margin-top: -0.5rem;
        }

        &-note {
            display: block;
            margin-bottom: 0.5rem;
            @extend .small;
        }

        + .sq-form-question {
            margin-top: 1.5rem;
        }
    }

    .sq-form-control {
        margin-top: 1.5rem;
    }

    .sq-form-question-error {
        .sq-form-error {
            margin-top: 0.5rem;
            color: $danger;
            padding-left: 1rem;
            font-weight: bold;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 0.3rem;
                background-color: $danger;
            }
        }
    }

    .sq-form-question-option-list,
    .sq-form-question-tickbox-list {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            position: relative;

            ~ li {
                margin-top: 1rem;
            }
        }
    }

    input[type='radio'],
    input[type='checkbox'] {
        @extend .form-check-input;
        margin-left: 5px;
        margin-right: -5px;

        &:focus {
            box-shadow: none;
        }
    }

    input[type='radio'] ~ label,
    input[type='checkbox'] ~ label {
        @extend .form-check-label;
        margin-right: 0;
        padding: 0;
        padding-left: 1.5rem;
    }

    input[type='radio'] ~ label:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='%23313131' cx='16' cy='16' r='16'/%3E%3Ccircle fill='%23ffffff' cx='16' cy='16' r='14'/%3E%3C/svg%3E");
    }

    input[type='radio']:checked ~ label:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='%23313131' cx='16' cy='16' r='11'/%3E%3C/svg%3E");
    }

    input[type='checkbox'] ~ label:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23313131' d='M0,0h32v32H0V0z'/%3E%3Cpath fill='%23ffffff' d='M2,2h28v28H2V2z'/%3E%3C/svg%3E");
    }

    input[type='checkbox']:checked ~ label:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23313131' d='M25.6,11.4c0.2-0.2,0.2-0.5,0-0.7l-2.3-2.3c-0.2-0.2-0.5-0.2-0.7,0L14,17l-3.6-3.6c-0.2-0.2-0.5-0.2-0.7,0l-2.3,2.3 c-0.2,0.2-0.2,0.5,0,0.7l6.3,6.3c0.2,0.2,0.5,0.2,0.7,0L25.6,11.4L25.6,11.4z'/%3E%3C/svg%3E");
    }

    input[type='radio']:focus ~ label:before,
    input[type='checkbox']:focus ~ label:before {
        @include focus();
    }

    input[type='radio'] ~ label:before,
    input[type='radio'] ~ label:after,
    input[type='checkbox'] ~ label:before,
    input[type='checkbox'] ~ label:after {
        content: '';
        width: 32px;
        height: 32px;
        display: block;
        position: absolute;
        box-sizing: border-box;
        background-repeat: no-repeat;
        z-index: 1;
        left: 0;
        top: -2px;
    }

    input[type='radio'] ~ label:before,
    input[type='radio'] ~ label:after {
        border-radius: 50%;
    }

    input[type='radio'] ~ label:after,
    input[type='checkbox'] ~ label:after {
        z-index: 2;
    }
}

.thank-you-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        font-size: 200px;
        color: $secondary;
    }

    &__title {
        font-size: 50px;
        font-weight: bold;
    }

    &__text {
        font-size: 20px;
    }
}
