.homepage .ntg-image-card-carousel {
    &__cell {
        .card-text {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.ntg-image-card-carousel {
    padding-bottom: 2rem;

    &__cell {
        --cell-margin-right: 1rem;
        --no-of-cells: 1;
        --cell-width: 100%;
        padding-bottom: 0.5rem;

        @include media-breakpoint-up(md) {
            --no-of-cells: 2;
            --cell-width: 50%;
        }

        @include media-breakpoint-up(lg) {
            --no-of-cells: 3;
            --cell-width: 33.33333333%;
        }

        @include media-breakpoint-up(xl) {
            --no-of-cells: 4;
            --cell-width: 25%;
        }

        margin-right: 1rem;
        width: calc(var(--cell-width) - calc(var(--cell-margin-right) - calc(var(--cell-margin-right)/var(--no-of-cells))));

        .card {
            // margin-right: 1rem;
            &-img-top {
                aspect-ratio: 500/250;
            }
        }
    }

    .flickity-page-dots {
        width: auto;
        bottom: 0;

        .dot {
            background: #D9D9D9;
            
            // &.is-selected {
            //     background: $primary;
            // }
        }
    } 

    .flickity-prev-next-button {
        border: 3px solid $body-color;
        transition: 0.2s background ease-in-out;
        top: calc(-44px - 1rem); //Width of the button + Gap 
        transform: translateY(0);

        &.previous {
            right: calc(0.5rem + 44px); //Gap + Button width
            left: unset;
            // left: calc(-1 * calc(44px + 10px)); //Button Width + spacing

        }

        &.next {
            right: 0;
        }

        .flickity-button-icon {
            width: 50%;
            height: 50%;
            left: 25%;
            top: 25%;
        }

        &:hover {
            background-color: $body-color;

            .flickity-button-icon {
                fill: $white;
            }
        }
    }
}