.ntg-main-nav {
	$this: &;
	// font-family: $font-ubuntu;
	transition: 0.2s padding ease-in-out;
	--main-link-color: #{$ebony};
	--main-link-drop-heading-color: #{$primary};
	--column-gap: 1.5rem;
	--main-drop-columns: 4;
	--main-drop-columns-padding-top: 1rem;
	--main-drop-columns-padding-bottom: 1rem;
	--main-drop-columns-padding-left: 1rem;
	--main-drop-columns-padding-right: 1rem;
	--main-drop-columns-gap-border-color: #{$body-color};
	--main-drop-columns-gap-border-width: 1px;

	--main-drop-link-color: #{$body-color};
	--main-drop-link-hover-color: #{$black};
	--main-drop-panel-padding-top: 2rem;
	--main-drop-panel-padding-bottom: 2rem;
	
	height: 100%;

	@include media-breakpoint-only(xxl) {
		--main-drop-columns: 4;
	}

	@include media-breakpoint-down(xl) {
		margin-left: 0.5rem;
		order: 2;
	}

	@include media-breakpoint-up(xxl) {
		--main-drop-panel-padding-top: 3rem;
		--main-drop-panel-padding-bottom: 3rem;
		--main-drop-columns: 4;
	}

	&__search {
		appearance: none;
		background: none;
		padding: 0.5rem;
		width: 46px;
		height: 46px;
		border: none;
		display: none;

		@include media-breakpoint-down(xl) {
			order: 1;
		}

		&:hover {
			cursor: pointer;

			i {
				color: $secondary;
			}
		}

		&:focus {
			@include focus();
		}

		i {
			color: $primary;
			font-size: 1.5rem;
			transition: 0.2s color ease-in-out;
		}
	}

	&__mobile {
		display: block;
		order: 2;
		margin-left: 0.125rem;

		@include media-breakpoint-up(xl) {
			display: none;
		}

		>a {
			width: 46px;
			height: 46px;
			position: relative;
			display: block;

			&:hover {

				span,
				&:before,
				&:after {
					background: $secondary;
				}
			}

			.mm-wrapper_opening & {
				span {
					opacity: 0;
				}

				&:before,
				&:after {
					transform: rotate(45deg);
					top: 50%;
					left: 15%;
					right: 15%;
				}

				&:after {
					transform: rotate(-45deg);
				}
			}

			span,
			&:before,
			&:after {
				background: $primary;
				position: absolute;
				top: 50%;
				left: 15%;
				right: 15%;
				height: 3px;
				margin-top: -1.5px;
				transition: 0.3s all linear, 0.2s background ease-in-out;
			}

			&:before,
			&:after {
				content: '';
				top: 30%;
			}

			&:after {
				top: 70%;
			}
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
	}

	&__links {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1rem;
		width: 100%;
		height: 100%;

		@include media-breakpoint-down(xl) {
			display: none;
		}
	}

	&__link {
		height: 100%;
		
		&.is-selected {
			>a {
				font-weight: 700;
			}
		}

		> a {
			color: var(--main-link-color);
			font-weight: 700;
			text-decoration: none;
			text-align: center;
			// padding: 1.5rem;
			height: 100%;
			position: relative;
			display: flex;
			align-items: center;
			font-size: 1.0625rem;
			white-space: nowrap;

			@include media-breakpoint-down(xxl) {
				// padding: 1.5rem 0.5rem;
			}

			&:before {
				content: '';
				background-color: $ntg-rubine-red;
				height: 4px;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				transform: scaleX(0);
				transition: 0.25s transform ease-in-out;
			}

			&:hover, &:focus {
				&::before {
					transform: scaleX(1);
				}
			}

			&.focus {
				&:before {
					transform: scaleX(1);
				}
			}
		}

		&:hover, &.active {
			>a {
				&:before {
					transform: scaleX(1);
				}
			}
		}

		&.active {
			>a {
				color: $ntg-rubine-red;
			}
		}
	}

	&__panel {
		position: absolute;
		left: 0;
		right: 0;
		visibility: hidden;
		opacity: 1;
		color: var(--main-drop-link-color);
		background-color: $white;
		border-top: 1px solid $border-color;
		box-shadow: 0 4px 8px rgba($black, 0.2);
		padding-top: var(--main-drop-panel-padding-top);
		padding-bottom: var(--main-drop-panel-padding-bottom);

		&:not(.open) {
			top: -9999px;
		}

		&.open {
			bottom: 0;
			transform: translateY(100%);
			visibility: visible;
		}

		// &.open {
		//     visibility: visible;
		//     opacity: 1;
		//     transition: 0.2s visibility ease-in-out, 0.2s opacity ease-in-out;
		// }

		&-wrapper {
			display: flex;

			&.has-description-on-left {
				#{$this}__panel {
					&-columns {
						column-count: calc(var(--main-drop-columns) - 1);
						// added extra padding if nav have description on left col
						padding-left: calc(var(--main-drop-columns-padding-left));
					}
				}

				>#{$this}__panel-group {
					// added extra padding if nav have description on left col
					padding-right: calc(var(--main-drop-columns-padding-right) + 1rem);
					border-right: var(--main-drop-columns-gap-border-width) solid var(--main-drop-columns-gap-border-color);
					width: 30%;
				}
			}
		}

		&-columns {
			column-count: var(--main-drop-columns);
			column-gap: var(--main-drop-columns-gap);

			>* {
				&:last-child {
					padding-right: 0;
				}
			}
		}

		&-group {
			break-inside: avoid-column;
			padding-top: var(--main-drop-columns-padding-top);
			padding-bottom: var(--main-drop-columns-padding-bottom);
			padding-left: var(--main-drop-columns-padding-left);
			padding-right: var(--main-drop-columns-padding-right);
		}

		a.link-chevron-right {
			text-decoration: none;
			font-weight: 700;
			color: $body-color;

			&::after {
				color: $ntg-rubine-red;
			}
		}

		h2,
		h3 {
			color: var(--main-drop-heading-color);
			font-size: 1rem;
			font-weight: 700;
			margin-bottom: 0.5rem;

			>a {
				text-decoration: none;
				// text-decoration-color: rgba($primary, 0);
				// text-decoration-thickness: 3px;
				// text-underline-offset: 2px;
				transition: 0.2s text-decoration-color;

				&:hover, &.active {
					text-decoration: underline;
					text-decoration-color: rgba($primary, 1);
				}
			}
		}

		// h3 {
		// 	text-transform: uppercase;
		// }

		ul {
			--list-padding-left: 1.25rem;
			padding-left: var(--list-padding-left);
			list-style: none;
			// padding: 0;
			// margin: 0;
			li {
				position: relative;

				&::before {
					content: "\f054";
					@extend .fa;
					font-weight: 700;
					position: absolute;
					left: calc(-1 * var(--list-padding-left));
					color: $ntg-rubine-red;
				}
			}
		}

		li {
			margin-bottom: 0.5rem;

			a {
				color: var(--main-drop-link-color);
				text-decoration: none;

				&:hover,
				&:focus, 
				&.active {
					color: var(--main-drop-link-hover-color);
					text-decoration: underline;
				}
			}
		}
	}
}
// .ntg-main-nav {
// 	--component-background-color: transparent;
// 	--component-drop-background-color: #{lighten($black,90%)};
// 	--component-text-color: var(--current-theme-text-color, #{$black});
// 	--component-extra-color: var(--current-theme-secondary, #{lighten($black,80%)});
// 	--component-extra-color-text: var(--current-theme-secondary-text, #{$black});
// }

// .ntg-main-nav {

// 	&__search {
// 		height: 46px;
// 		width: 46px;
// 		appearance: none;
// 		background: none;
// 		border: none;
// 		transition: 0.2s background-color ease-in-out;

// 		@include media-breakpoint-up(sm) {
// 			height: 56px;
// 			width: 56px;
// 		}

// 		@include media-breakpoint-up(lg) {
// 			display: none !important;
// 		}

// 		&:hover {
// 			background-color: var(--component-extra-color);
// 			cursor: pointer;
// 		}

// 		&:focus {
// 			@include focus();
// 		}

// 		i {
// 			color: var(--component-text-color);
// 			font-size: 1.2rem;
// 		}
// 	}

// 	&__mobile {
// 		display: block;

// 		@include media-breakpoint-down(sm) {
// 			margin-left: 0.5rem;
// 		}

// 		@include media-breakpoint-up(lg) {
// 			display: none;
// 		}

// 		>a {
// 			background-color: $primary;
// 			width: 46px;
// 			height: 46px;
// 			position: relative;
// 			display: block;

// 			&:hover {
// 				opacity: 0.9;
// 			}

// 			.mm-wrapper_opening & {
// 				span {
// 					opacity: 0;
// 				}

// 				&:before,
// 				&:after {
// 					transform: rotate(45deg);
// 					top: 50%;
// 					left: 15%;
// 					right: 15%;
// 				}

// 				&:after {
// 					transform: rotate(-45deg);
// 				}
// 			}

// 			span,
// 			&:before,
// 			&:after {
// 				background: $white;
// 				border-radius: 4px;
// 				position: absolute;
// 				top: 50%;
// 				left: 25%;
// 				right: 25%;
// 				height: 4px;
// 				margin-top: -2px;
// 				transition: all 0.3s linear;
// 			}

// 			&:before,
// 			&:after {
// 				content: '';
// 				top: 30%;
// 			}

// 			&:after {
// 				top: 70%;
// 			}
// 		}
// 	}

// 	&__wrapper {
// 		display: flex;
// 		align-items: center;

// 		@include media-breakpoint-down(lg) {
// 			justify-content: flex-end;
// 		}

// 		@include media-breakpoint-up(lg) {
// 			justify-content: space-between;
// 		}
// 	}

// 	ul {
// 		display: flex;
// 		align-items: center;
// 		padding: 0;
// 		margin: 0;
// 		list-style-type: none;
// 		width: 100%;

// 		@include media-breakpoint-down(lg) {
// 			display: none;
// 		}

// 		a {
// 			color: var(--component-text-color);
// 			padding: .7rem 0.7rem;
// 			font-weight: bold;
// 			display: block;
// 			text-decoration: none;
// 			transition: 0.2s background-color ease-in, 0.2s color ease-in;
// 		}

// 		li {
// 			overflow: visible;
// 			position: relative;
// 			margin: 0;
// 		}

// 		>li {

// 			&.rm-focused,
// 			&:hover {
// 				>ul {
// 					@include media-breakpoint-up(lg) {
// 						display: block;
// 					}
// 				}

// 				>a {
// 					background-color: var(--component-extra-color);
// 					color: var(--component-extra-color-text);
// 					text-decoration: none;
// 				}

// 				&.has-children {
// 					>a {
// 						&:after {
// 							transform: rotate(180deg);
// 						}
// 					}
// 				}
// 			}

// 			&.active {
// 				>a {
// 					border-bottom: 0.5rem solid var(--component-background-color);
// 					margin-bottom: -0.5rem;
// 				}
// 			}

// 			&.has-children {
// 				>a {
// 					&:after {
// 						@extend .fa;
// 						content: '\f107';
// 						margin-left: 0.5rem;
// 						font-size: 0.8rem;
// 					}
// 				}
// 			}
// 		}

// 		ul {
// 			z-index: 99;
// 			position: absolute;
// 			left: 0;
// 			top: 100%;
// 			display: none;
// 			padding: 0;
// 			background-color: var(--component-drop-background-color);
// 			list-style-type: none;
// 			width: 300px;

// 			&:before {
// 				content: '';
// 				width: 100%;
// 				height: 100%;
// 				position: absolute;
// 				left: 0;
// 				top: -0.5rem;
// 			}

// 			li {
// 				width: 100%;
// 				list-style-type: none;
// 			}

// 			a {
// 				color: var(--component-text-color);
// 				padding: 1rem 0.7rem;

// 				&:hover {
// 					background-color: var(--component-extra-color);
// 				}
// 			}

// 			>li {
// 				position: relative;

// 				&.has-children {
// 					>a {
// 						&:after {
// 							position: absolute !important;
// 							right: 0.7rem;
// 							top: 50%;
// 							transform: translateY(-50%);
// 						}
// 					}
// 				}

// 				&.rm-focused,
// 				&:hover {
// 					&.has-children {
// 						>a {
// 							&:after {
// 								transform: translateY(-50%) rotate(-90deg);
// 							}
// 						}
// 					}
// 				}

// 				&.active {
// 					>a {
// 						border-bottom: none;
// 						margin-bottom: 0;
// 					}
// 				}
// 			}

// 			ul {
// 				left: 100%;
// 				top: 0;
// 			}
// 		}
// 	}
// }

// .more {

// 	&.rm-focused,
// 	&:hover {
// 		>a {
// 			&:after {
// 				transform: rotate(180deg);
// 			}
// 		}
// 	}

// 	>a {
// 		&:after {
// 			@extend .fa;
// 			content: '\f078';
// 			margin-left: 0.5rem;
// 			font-size: 0.8rem;
// 		}
// 	}

// 	ul {
// 		right: 0;
// 		left: inherit !important;
// 		transition: margin 0.2s ease-out;

// 		li {
// 			&:hover {
// 				ul {
// 					margin-right: 5px;
// 				}
// 			}
// 		}
// 	}

// 	.tertiary {
// 		position: relative;

// 		&:hover {
// 			>ul {
// 				display: block !important;
// 			}
// 		}

// 		ul {
// 			margin-top: 0;
// 			margin-right: 0 !important;
// 			right: 100%;
// 			top: 0;
// 		}

// 		a {
// 			display: flex;
// 			align-items: center;
// 			justify-content: space-between;

// 			&:after {
// 				transform: rotate(-90deg);
// 			}
// 		}
// 	}

// 	.exclude {
// 		display: none;
// 	}
// }

// .edge {
// 	ul {
// 		ul {
// 			left: -100% !important;
// 		}
// 	}

// 	&.all {
// 		ul {
// 			right: 0;
// 			left: inherit !important;

// 			ul {
// 				right: 100%;
// 			}
// 		}
// 	}
// }