.ntg-promo-news-carousel {
    &-cell {
        img {
            width: 100%;
            object-fit: cover;
        }

        &__image {
            border-radius: 16px;
            overflow: hidden;
        }
    }
}