/* quiz-loading.scss
   Loading overlay styles for quiz system
*/

.quiz-loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    backdrop-filter: blur(4px);
}

.quiz-loading-content {
    text-align: center;
    
    p {
        color: $ntg-charcoal-grey;
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
    }
    
    .spinner-border {
        width: 3rem;
        height: 3rem;
        border-width: 0.3rem;
    }
}
