@use "sass:map";

:root {
    font-size: 16px;
    /* sets the value for 1rem (--base-font-size) */
    --base-font-size: 16px;
    --scale: 1.2;

    @media (min-width: 768px) {
        font-size: 18px;
        --base-font-size: 18px;
    }

    --h6-size: var(--base-font-size);
    --h5-size: calc(var(--h6-size) * var(--scale));
    --h4-size: calc(var(--h5-size) * var(--scale));
    --h3-size: calc(var(--h4-size) * var(--scale));
    --h2-size: calc(var(--h3-size) * var(--scale));
    --h1-size: calc(var(--h2-size) * var(--scale));
}

$rfs-rem-value: 18;

$font-family-base: $font-montserrat;

$font-weight-bold: 700;

$font-size-root: null;
$font-size-base: 1rem;
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: var(--h2-size);
$h2-font-size: var(--h3-size);
$h3-font-size: var(--h4-size);
$h4-font-size: var(--h5-size);
$h5-font-size: var(--h6-size);
$h6-font-size: var(--h6-size);

$headings-margin-bottom: $spacer;
$headings-font-family: null;
$headings-font-style: null;
$headings-font-weight: 500;
$headings-line-height: 1.2;
$headings-color: inherit;

$lead-font-size: $font-size-base * 1.25;
$lead-font-weight: 300;

$small-font-size: .875em;

$sub-sup-font-size: .75em;

// fusv-disable
$text-muted: var(--#{$prefix}secondary-color); // Deprecated in 5.3.0
// fusv-enable

$initialism-font-size: $small-font-size;

$blockquote-margin-y: $spacer;
$blockquote-font-size: $font-size-base * 1.25;
$blockquote-footer-color: #6c757d;
$blockquote-footer-font-size: $small-font-size;

$hr-margin-y: $spacer;
$hr-color: inherit;

// fusv-disable
$hr-bg-color: null; // Deprecated in v5.2.0
$hr-height: null; // Deprecated in v5.2.0
// fusv-enable

$hr-border-color: null; // Allows for inherited colors
$hr-border-width: var(--#{$prefix}border-width);
$hr-opacity: .25;

$vr-border-width: var(--#{$prefix}border-width);

$legend-margin-bottom: .5rem;
$legend-font-size: 1.5rem;
$legend-font-weight: null;

$dt-font-weight: $font-weight-bold;

$list-inline-padding: .5rem;

$mark-padding: .1875em;
$mark-color: $body-color;