// Custom Variables
@import './base/fonts';
@import './base/mixins';

// Bootstrap Core Components
@import '../../../node_modules/bootstrap/scss/functions'; // required

// Colour Definitions
@import './base/color-variables';

// Variable Overrides
@import './base/custom-variables';

@import './base/typography';

@import '../../../node_modules/bootstrap/scss/variables'; // required
@import "../../../node_modules/bootstrap/scss/variables-dark"; // required

@import "../../../node_modules/bootstrap/scss/maps"; // required
@import './base/color-map-overrides';
@import '../../../node_modules/bootstrap/scss/mixins'; // required
@import '../../../node_modules/bootstrap/scss/root'; // required

@import '../../../node_modules/bootstrap/scss/utilities'; // required
@import '../../../node_modules/bootstrap/scss/reboot'; // required

// Custom utilities
@import './base/utilities';
@import './base/helpers';

// Bootstrap optional components
@import '../../../node_modules/bootstrap/scss/type';
@import '../../../node_modules/bootstrap/scss/images';
@import '../../../node_modules/bootstrap/scss/containers';
@import '../../../node_modules/bootstrap/scss/grid';
@import '../../../node_modules/bootstrap/scss/helpers';
@import '../../../node_modules/bootstrap/scss/tables';
@import '../../../node_modules/bootstrap/scss/forms';
@import '../../../node_modules/bootstrap/scss/buttons';
@import '../../../node_modules/bootstrap/scss/transitions';
// @import '../../../node_modules/bootstrap/scss/dropdown';
// @import '../../../node_modules/bootstrap/scss/button-group';
// @import '../../../node_modules/bootstrap/scss/nav';
// @import "../../../node_modules/bootstrap/scss/navbar"; // requires nav
@import '../../../node_modules/bootstrap/scss/card';
@import '../../../node_modules/bootstrap/scss/accordion';
@import '../../../node_modules/bootstrap/scss/breadcrumb';
@import '../../../node_modules/bootstrap/scss/pagination';
// @import '../../../node_modules/bootstrap/scss/badge';
@import '../../../node_modules/bootstrap/scss/alert';
// @import '../../../node_modules/bootstrap/scss/progress';
@import '../../../node_modules/bootstrap/scss/list-group';
// @import '../../../node_modules/bootstrap/scss/close';
// @import '../../../node_modules/bootstrap/scss/toasts';
// @import '../../../node_modules/bootstrap/scss/modal'; // requires transitions
// @import '../../../node_modules/bootstrap/scss/tooltip';
// import '../../../node_modules/bootstrap/scss/popover';
@import "../../../node_modules/bootstrap/scss/carousel";
// @import '../../../node_modules/bootstrap/scss/spinners';
// @import '../../../node_modules/bootstrap/scss/offcanvas';
// @import '../../../node_modules/bootstrap/scss/placeholders';

@import '../../../node_modules/bootstrap/scss/utilities/api';

// Component and Colour Overrides
@import './base/custom-themes';
@import './base/component-overrides';

// Bootstrap Custom Components
@import './components/bootstrap/index';

// Custom Components
@import './components/custom/index';

// Print
@import './base/print.scss';